@charset "UTF-8";

/*Estilos para tela*/

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: darkolivegreen;
}
header > h1 {
    text-align: center;
}
menu ul{
    background-color: darkgoldenrod;
}
menu > ul > li{
    display:inline-block ;
    list-style-type: none;
    padding: 10px;
    background-color: gray;
    color: white;
    font-weight: bolder;
}

article{
    width: 600px;
    display: block;
    margin: auto;
}
h2{
    padding: 20px 0 20px 0 ;
}
article > p{
    text-align: justify;
    line-height: 2em;
    text-indent: 10px;
}